#**OMDENA ALGERIA LOCAL CHAPTER**
##**CROP RECOMMENDATION SYSTEM- TEAM 2**
---
<p align="center">
  <img width="600" height="355" src="https://i.gifer.com/7JCR.gif">
</p>

---

*   A product recommendation system is a machine learning application with suggestions for products users might like to buy or engage with. The system builds a deep network of complex connections between those products and people using machine learning algorithms and data about different users and products. 
*  Crop Recommendation is a web application that suggest/recommend the farmer to which crop to grown his/her field on the basis of several attributes like the soil qualtiy, rainfall in the location etc.

*   Machine Learning algorithms have emerged as promising alternative and complimentary tools to the commonly used modelling approaches in agriculture and allied sciences. ML algorithms have gained popularity in crop production, yield prediction and forest management research now days.

---

##**IMPLEMENTATION**

In [ ]:
# Importing libraries

from __future__ import print_function
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.metrics import classification_report
from sklearn import metrics
from sklearn import tree
import warnings
warnings.filterwarnings('ignore')

In [ ]:
df = pd.read_csv('/content/crop_recommendation.csv')

In [ ]:
df.head()

    N   P   K  temperature   humidity        ph    rainfall label
0  90  42  43    20.879744  82.002744  6.502985  202.935536  rice
1  85  58  41    21.770462  80.319644  7.038096  226.655537  rice
2  60  55  44    23.004459  82.320763  7.840207  263.964248  rice
3  74  35  40    26.491096  80.158363  6.980401  242.864034  rice
4  78  42  42    20.130175  81.604873  7.628473  262.717340  rice

In [ ]:
df.tail()

        N   P   K  temperature   humidity        ph    rainfall   label
2195  107  34  32    26.774637  66.413269  6.780064  177.774507  coffee
2196   99  15  27    27.417112  56.636362  6.086922  127.924610  coffee
2197  118  33  30    24.131797  67.225123  6.362608  173.322839  coffee
2198  117  32  34    26.272418  52.127394  6.758793  127.175293  coffee
2199  104  18  30    23.603016  60.396475  6.779833  140.937041  coffee

In [ ]:
df.size

17600

In [ ]:
df.shape

(2200, 8)

In [ ]:
df.columns

Index(['N', 'P', 'K', 'temperature', 'humidity', 'ph', 'rainfall', 'label'], dtype='object')

In [ ]:
df['label'].unique()

array(['rice', 'maize', 'chickpea', 'kidneybeans', 'pigeonpeas',
       'mothbeans', 'mungbean', 'blackgram', 'lentil', 'pomegranate',
       'banana', 'mango', 'grapes', 'watermelon', 'muskmelon', 'apple',
       'orange', 'papaya', 'coconut', 'cotton', 'jute', 'coffee'],
      dtype=object)